.allPages {
  // max-width: 700px;
  // overflow: scroll;
  margin: 25px;
}

.pagination {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #242582;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;

  &.arrows {
    background-color: #553d67;
  }

  &.currentPage {
    font-weight: bold;
    background-color: #f64c72;
    border: 2px solid #242582;
  }
}
