.form_control {
  &.error textarea {
    border: 2px solid red;
  }
  &.error input {
    border: 2px solid red;
  }
  &.error span {
    color: red;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #2f2fa2;
  border-radius: 5px;
  font-size: 1.2rem;
}
