.nav {
  grid-area: nav;
  width: 155px;
  background-color: #2f2fa2;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  & a {
    text-decoration: none;
    // margin-top: 5px;
    display: block;
    width: auto;
    color: whitesmoke;
    font-size: 1.5rem;
    // border: 2px solid rgb(218, 118, 118);
  }

  &:hover {
    background-color: #242582;
    border-radius: 5px;
  }
}
