.item {
  background-color: #99738e;
  padding: 7px;
  margin-top: 10px;
  // border: 5px solid #f64c72;
  border-radius: 10px;
  color: whitesmoke;

  // &:hover {
  //   border: 5px solid rgb(246, 226, 226);
  // }
}

.post_text {
  font-size: 1.3rem;
}
