html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  font-family: sans-serif;
}

.app-wrapper-content {
  max-width: 1045px;
  grid-area: content;
  background-color: whitesmoke;
}

// #242582 - #553D67 - #F64C72 - #99738E - #2F2FA2
